// ================================JamesKid============================== 
// @author		: JamesKid  
// @description  : this is note about css
// @change		: 2014_03_06_15_40 add media css  
// ======================================================================


// ======================================================================
// @ description   :if the width lager then 619px then use the @media css
// @ note: 流式布局标签 @media  
// @ main     @media (min-width:)
//			  @media (max-width:)
// ======================================================================

# 流式布局
	@media (max-width: 619px) {

		#content img {
			width:100%;
			height:100%;
			margin:auto;
			padding-top:5px;
		}
	}

# 判断若为手机则调用另外的css 
	<!-[if AppleWebKit]>
		<link rel="stylesheet" href="/css/mobile.css" 
		type="text/css" media="screen" />
	<![endif]->
